@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/livewire/**/*';

/* Add your custom styles below */

.fi-ta-table thead tr {
    background-color: #5287ad !important;
    border: 1px solid #ffffff !important;
}
table.fi-ta-table thead .fi-ta-header-cell {
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
    font-weight: 600;
}
.fi-ta-header-group-cell{
    color: #ffffff !important;
}

.fi-ta-group-header-cell{
    background-color: rgb(226, 232, 247) !important;
}

.fi-ta-cell.fi-ta-group-selection-cell {
    background-color: rgb(226, 232, 247) !important;
}

